<div class="jumbotron">
  <div class="container-fluid">
    <h2>Today NEO (Near Earth Objects)</h2>
    <div class="row">
      <div class="col-md-3">
        <div class="container">
          <div class="card">
            <div class="card-head">
              <span>Object Name</span>
            </div>
            <div class="card-content">
              <span>Distance from Earth : km</span> <br>
              <span>Diameter : km</span> <br>
              <span>Speed : m</span> <br>
              <span>Magnitude :</span>
            </div>
            <div class="card-foot">
              <button mat-raised-button color="primary">More</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
