<mat-toolbar color="primary" class="app-nav">
  <mat-toolbar-row>
    <button mat-icon-button (click)="sidenav.toggle()" class="menu-burger">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <span>Astronomy Information</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value" position="start" class="my-sidenav" color="primary">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon> apps </mat-icon>
        <span>Menu</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <button mat-button class="menu-nav" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
       Dashboard
    </button>
    <button mat-button class="menu-nav" (click)="goToAuroraHunting()">
      <mat-icon>place</mat-icon>
       Aurora hunting location
    </button>
    <button mat-button class="menu-nav">
      <mat-icon>collections</mat-icon>
       Mars Rover Curiosity
    </button>
    <mat-accordion>

      <!-- Expansion panel modal NEO by Fixed value -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Near Earth Obect
          </mat-panel-title>
          
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary" (click)="goToTodayNEO()">
          <mat-icon>today</mat-icon> Today
        </button>
        <button mat-raised-button color="accent" (click)="goToWeeklyNEO()">
          <mat-icon>date_range</mat-icon> Weekly
        </button>


        <!-- Expansion modal for search option -->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Search
              </mat-panel-title>
              <mat-panel-description>
                Search by start and end date
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Start Date -->
            <span>Format: (MM/DD/YYYY)</span> <br>
            <span>Max request day : 7 days</span>
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Choose a start date" [(ngModel)]="NEO_start_date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker1></mat-datepicker>
            </mat-form-field>

            <!-- End Date -->
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="Choose a end date" [(ngModel)]="NEO_end_date" >
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker2></mat-datepicker>
            </mat-form-field>

            <!-- Submit Search -->
            <button mat-raised-button color="warn" (click)="getNEObyDate()">
              <mat-icon>done</mat-icon> Submit
            </button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet #o="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

