<mat-toolbar color="primary" class="app-nav">
  <mat-toolbar-row>
    <mat-icon (click)="sidenav.toggle()" class="menu-burger">menu</mat-icon>
    <span class="example-spacer"></span>
    <span>Astronomy Information</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value" position="start" class="my-sidenav" color="primary">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon> apps </mat-icon>
        <span>Menu</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <button mat-button class="menu-nav" routerLink="/dashboard">
      <mat-icon>home</mat-icon>
       Dashboard
    </button>
    <button mat-button class="menu-nav" (click)="goToAuroraHunting()">
      <mat-icon>trending_up</mat-icon>
       Aurora hunting location
    </button>
    <mat-accordion>

      <!-- Expansion panel modal NEO by Fixed value -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Near Earth Obect
          </mat-panel-title>
          <mat-panel-description>
            See which objects are near us
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary" (click)="goToTodayNEO()">Today</button>
        <button mat-raised-button color="accent" (click)="goToWeeklyNEO()">Weekly</button>


        <!-- Expansion modal for search option -->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Search
              </mat-panel-title>
              <mat-panel-description>
                Search by start and end date
              </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- Start Date -->
            <span>Format: (MM/DD/YYYY)</span> <br>
            <span>Max request day : 7 days</span>
            <mat-form-field>
              <input matInput [matDatepicker]="picker1" placeholder="Choose a start date" [(ngModel)]="NEO_start_date">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker1></mat-datepicker>
            </mat-form-field>

            <!-- End Date -->
            <mat-form-field>
              <input matInput [matDatepicker]="picker2" placeholder="Choose a end date" [(ngModel)]="NEO_end_date" >
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker2></mat-datepicker>
            </mat-form-field>

            <!-- Submit Search -->
            <button mat-raised-button color="warn" (click)="getNEObyDate()">Submit</button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>

      <!-- Expansion panel modal APOD NASA -->
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            APOD NASA
          </mat-panel-title>
          <mat-panel-description>
            Astronomy Picture of the Day by NASA
          </mat-panel-description>
        </mat-expansion-panel-header>
        <button mat-raised-button color="primary">Today</button>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Search by date
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field>
              <input matInput [matDatepicker]="picker3" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker touchUi="true" #picker3></mat-datepicker>
            </mat-form-field>
            <button mat-raised-button color="warn">Submit</button>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Weather</button>
    </mat-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet #o="outlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

