.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
}
.banner {
    height: 40vh;
    background: #0277BD;
    h1, h3 {
        text-align: center;
    color: white;
    }
    h3 {
        font-size: 14px;
    }
    h1 {
        margin-top: 5vh;
    }
}
.graph-content {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    p {
        font-style: 12px;
    }
    h3 {
        text-align: center;
    }
    h2 {
        text-align: center;
        color: #0277BD;
    }
    .subtitle{
        text-align: center;
        font-size: 14px;
    }
}