<div class="jumbotron banner">
  <div class="container">
    <h1>Astronomy Dashboard</h1>
    <h3>orionstark @ 2018</h3>
  </div>
</div>
<div class="jumbotron">
  <div class="container-fluid graph-content">
    <h2>
      <mat-icon>timeline</mat-icon>
      NEO Statistics
    </h2>
    <p class="subtitle">Statistic about amount of objects near earth this week and last week.</p>
    <div class="row">
      <div class="col-md-6">
        <div class="container">
          <div>
            <canvas id="weekly_stats">{{ chart }}</canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
          <div>
            <canvas id="last_weekly_stats">{{ sec_chart }}</canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
          <h3>This week statistic compare to last week</h3>
          <div ng-if="data_set">
            <canvas id="weekly_stats_and_last">{{ third_chart }}</canvas>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="container">
          <h3>Potentially Hazardous Asteroid Statistic</h3>
          <div ng-if="data_set">
            <canvas id="hazardous_potentially">{{ hazardous_potentially_chart }}</canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="jumbotron neo_today_info">
  <div class="container-fluid today-neo">
    <h2>
      <mat-icon>today</mat-icon>
      Today NEO</h2>
    <p class="subtitle">List of today objects</p>
    <div class="row">
      <div class="col-md-4" *ngFor="let neo of today_NEO; let i = index">
        <div class="container">
          <div class="neo-card">
            <div class="neo-card-head">
              <button mat-icon-button [matMenuTriggerFor]="menu"> 
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="moreNEOInformation(today_NEO[i])">
                  <span>Info</span>
                </button>
                <button mat-menu-item>
                  <span>JPL</span>
                </button>
              </mat-menu>
            </div>
            <div class="neo-card-body">
              <mat-icon *ngIf="neo.is_potentially_hazardous_asteroid" color="warn" matTooltip="Potential hazardous object" class="warning">warning</mat-icon>
              <span class="name">{{neo.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>