.jumbotron {
    margin-bottom: 0;
    border-radius: 0;
}
.banner {
    height: 40vh;
    background: #0277BD;
    h1, h3 {
        text-align: center;
    color: white;
    }
    h3 {
        font-size: 14px;
    }
    h1 {
        margin-top: 5vh;
    }
}
.graph-content {
    -webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    p {
        font-style: 12px;
    }
    h3 {
        text-align: center;
    }
    h2 {
        text-align: center;
        color: #0277BD;
    }
    .subtitle{
        text-align: center;
        font-size: 14px;
        color: #929292;
    }
}
.today-neo {
    h2 {
        text-align: center;
        color: #EF5C29;
    }
    .subtitle{
        text-align: center;
        font-size: 14px;
        color: #929292;
    }
}
.neo_today_info {
    padding-top: 5px;
}
.neo-card {
    width: 100%;
    height: 180px;
    color: white;
    background: #0277BD;
    margin-bottom: 10px;
    webkit-box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.3);
    .neo-card-head {
        width: 100%;
        height: 40px;
        padding: 5px;
    }
    .neo-card-body {
        height: 140px;
        padding: 5px;
        line-height: 100px;
        text-align: center;
        color: white;
    }
    .name {
        font-size: 30px;
    }
}